*{
    margin: 0;
}



.container-background-add img{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.overlay-header-add{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000; /*COLOR DE FONDO*/
    z-index: 0;
    opacity: .7;
    z-index: 2;
}


.container-login-primary-add{
    width: 100%;
    height: 100%;
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.container-login-add{
    background-color: #ffffff4f;
    border: #535353 solid 1px;
    border-radius: 9px;
    padding-top: 85px;
    padding-bottom: 35px;
    width: 540px;
    height: 450px;

    
    position: relative;
    bottom: 45px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}




.container-login-successful-primary{
    background-color: #FFFFFF;
    border: #535353 solid 1px;
    border-radius: 9px;
    padding-top: 105px;
    padding-bottom: 35px;
    width: 540px;
    height: auto;

    
    position: relative;
    bottom: 35px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.container-logo{
    background-color: #a01f83;
    width: 360px;
    height: auto;
    /* margin-top: 150px; */

    position: relative;
    top: 50px;
    left: 0px;

    z-index: 4;
}


.container-login-successful-primary-register{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 18px;
    display: flex;
}

.container-login-successful-primary-prueba{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
    
    display: flex;

}   


.container-pre-data-prueba{
    background-color: #707070;
    color: white;
    width: 100%;
    height: 35px;
    border-bottom: solid 2px #cccbcb;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-pre-data{
    width: 100%;
    border-bottom: solid 2px #cccbcb;
    padding-bottom: 10px;
    display: flex;
}

.pre-data{
    margin-right: 15px;
    color: #a01f83;
}

.container-title-successful{
    font-size: 20px;
    margin-top: 20px;
}

.container-img-successful{
    text-align: center;
}

.container-img-successful img{
    width: 170px;
}

.container-img-successful-register{
    text-align: center;
}

.container-img-successful-register img{
    width: 100px;
}






.session-title{
    color: #5e5e5e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    z-index: 4;
}




.container-name{
    margin-bottom: 30px;
    width: 540px;

    display: flex;
    flex-direction: column;
}

.container-state-city-primary{
    width: 540px;
    margin-bottom: 20px;

    display: flex;
}

.container-state-city{
    width: 50%;
}

.select-state-add, .select-city-add{
    border: none;
    border-radius: 5px;
    font-size: 18px;    
    outline: 0 none;
    padding-top: 5px;
    margin-left: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 83%;
}

.select-state, .select-city{
    border: none;
    border: solid 1px #e4e3e3;
    border-radius: 5px;
    font-size: 18px;    
    outline: 0 none;
    padding-top: 5px;
    margin-left: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 83%;
    height: 40px;
}


.label-login-name{
    color: #e4e3e3;
    padding-top: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

.input-login{
    border: none;
    border: solid 1px #ADADAD;
    border-radius: 5px;
    font-size: 18px;    
    outline: 0 none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 20px;
    margin-top: 10px;
    width: 90%;
    height: 35px;
    transition-duration: 0.3s;
}

.input-login:focus{
    border-color: #a01f83;
    outline: 0 none;/*Quita el borde del formulario cuando damos clic*/
}





.container-name:focus-within .label-login-name{/*Damos click en el formulario y el label se anima*/
    color: #a01f83; 
}

.container-mail:focus-within .label-login-mail{/*Damos click en el formulario y el label se anima*/
    color: #a01f83;   
}

.container-password:focus-within .label-login-password{/*Damos click en el formulario y el label se anima*/
    color: #a01f83;   
}





.container-name:focus-within .iconUser{/*Damos click en el formulario y el label se anima*/
    color: #a01f83;   
}

.container-mail:focus-within .iconMail{/*Damos click en el formulario y el label se anima*/
    color: #a01f83;   
}

.container-password:focus-within .iconPass{/*Damos click en el formulario y el label se anima*/
    color: #a01f83;   
}

.container-btn{
    width: 100%;
    margin-top: 50px;

    display: flex;
    justify-content: center;
}

.btn-login{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 120px;
    margin: auto;
    height: 40px;
    text-align: center;
    background-color: #a01f83;
    color: #fff;
    font-size: 15px;
    transition: all 0.5s;
}
