*{
    margin: 0;
}

.container-background-print img{
    width: 100%;
    height: 30vh;
    position: fixed;
    z-index: 1;
}

.overlay-header-print{
    width: 100%;
    height: 30.1%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000; /*COLOR DE FONDO*/
    z-index: 0;
    opacity: .7;
    z-index: 2;
 }

 .container-print-primary{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    color: #424242;

    display: flex;
    align-items: center;
    flex-direction: column;
    
 }

 .container-print-logo{
    background-color: #a01f83;
    border-radius: 9px;
    width: 70%;
    height: auto;

    position: relative;
    top: 125px;
    left: 0px;

    z-index: 4;
 }

 .title-record-number{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 25px;
    top: 10px;
}

.number-registro{
   color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   position: absolute;
   right: 25px;
   top: 30px;
}

.logo-print{
    padding-top: 15px;
}

.title-logo-print{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    
}

 .container-print{
    background-color: #FFFFFF;
    border: #c0c0c0 solid 1px;
    border-radius: 9px;
    margin-top: 100px;
    padding-top: 85px;
    padding-bottom: 35px;
    width: 80%;
    height: auto;

    display: flex;
    z-index: 3;
 }

.form{
    width: 100%;
}





.container-info-prymari{
    margin-left: 40px;
    width: 95%;
    height: 90px;

    display: flex;
}

.containerInfo{
    width: 100%;
}

.containerInfo-tlf-primary{
    width: 100%;
}

.containerInfo-tlf{
    width: 100%;
    display: flex;  
}

.container-printer-code{
    border-bottom: solid 1px #ADADAD;
    font-size: 18px;  
    font-family: Arial, Helvetica, sans-serif;  
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 28px;
    margin-left: -57px;
    width: 80px;
}

.container-printer-tlf{
    border-bottom: solid 1px #ADADAD;
    font-size: 18px;  
    font-family: Arial, Helvetica, sans-serif;  
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    margin-top: 28px;
    margin-left: 10px;
    width: 67%;
}



















.container-block-primary{
    width: 95%;
    margin: auto;
    margin-top: 20px;

    display: flex;
    justify-content: center;
}

.container-block{
    width: 100%;

    display: flex;
}


 .container-proof{
    width: 65%;
    display: flex;
    flex-direction: column;
}


/*Estilos label*/

.label-form{
    color: #5e5e5e;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}


/*Estilos Input*/

.container-printer{
    border: none;
    border-bottom: solid 1px #ADADAD;
    font-size: 18px;  
    font-family: Arial, Helvetica, sans-serif;  
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 90%;
    transition-duration: 0.3s;
}



.input-form-hotel, .input-form-habitacion{
    border: none;
    border: solid 1px #ADADAD;
    border-radius: 5px;
    font-size: 18px;    
    outline: 0 none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 98%;
    transition-duration: 0.3s;
}

.input-form-hotel:focus, .input-form-habitacion:focus{
    border-color: #a01f83;
    outline: 0 none;/*Quita el borde del formulario cuando damos clic*/
}

::placeholder {
    color: #d3d2d2;
    font-size: 15px;
}

.option-selecciona option{
    color: #d3d2d2;
    font-size: 15px;
}









.container-date{
    width: 100%;

    display: flex;
}


.container-passenger{
    width: 100%;

    display: flex;
    flex-direction: column;
}







.container-telefonos-primary{
    width: 100%;
    margin-top: 15px;

    display: flex;

}

.container-codigo-area{
    width: 90px;
    margin-right: 10px;
}

.container-telefonos{
    width: 77%;
}





.container-reason-control-primary{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;

    justify-content: space-between;
}

.containerMotive{
    width: 50%;
}

.containerTipe{
    width: 50%;
}













.container-date-time-primary{
    width: 100%;
    margin-top: 15px;

    display: flex;

}

.container-date-time{
    width: 50%;
}





.container-result-primary{
    margin-top: 20px;
    width: 95.5%;
    height: auto;
}

table{
    border-collapse: collapse;
    border: #c0c0c0 solid 1px;
}

th{
    border: #c0c0c0 solid 1px;
    background-color: #a01f83;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 5px;
}

th .titulo-linea{
    border: none;
}

td{
    border: #c0c0c0 solid 1px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}



.title-line-c{

    font-size: 15px;
    padding-left: 100px;
    width: 70px;
    border: none;
}

.container-title-result{
    display: flex;
}

.title-line-t{

    font-size: 15px;
    padding-left: 30px;
    width: 70px;
    border: none;
}

.resultCRT-Negative{
    border: none;
    margin-left: 20px;
}

.resultCRT-Positive{
    border: none;
    margin-left: 90px;
}

.resultTitle{
    border: none;
}

.resultCRT{
    display: flex;
    align-items: center;
}










.container-control-Internal-primary{
    margin-top: 20px;
    width: 95.5%;
    height: auto;

    display: flex;
}

.container-blood{
    width: 50%;
    height: auto;
}

.container-blood-radio{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.container-blood-texto{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.label-blood{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}





.container-control-blood{
    width: 50%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-title{
    color: #a01f83;
    position: relative;
    top: 0px
}

.control-firm{
    padding-top: 10px;
    position: relative;
    top: 100px;
    border-top: #c0c0c0 solid 1px;
}










.container-sample{

    display: flex;
    width: 35%;
    flex-direction: column;
}





.container-firma{

    margin-top: 20px;
    padding-bottom: 38px;
    border-bottom: solid #ADADAD 2px;
}

.firma{
    font-family: Arial, Helvetica, sans-serif;
}


.container-sample-result{
    margin-top: 20px;
    text-align: center;
}

.sample-result{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;
}

.container-primary-img{
    width: 100%;

    display: flex;
    justify-content: center;
}

.container-img{
    border: solid #ADADAD 1px;
    width: 200px;
    height: 400px;
}


.container-btn-print{
    width: 320px;
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
}

.btn-print{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 320px;
    margin: auto;
    margin-right: 10px;
    height: 40px;
    text-align: center;
    background-color: #a01f83;
    color: #fff;
    font-size: 15px;
    transition: all 0.5s;
}

.btn-cancel{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 320px;
    margin: auto;
    margin-left: 10px;
    height: 40px;
    text-align: center;
    background-color: #7e7c7d;
    color: #fff;
    font-size: 15px;
    transition: all 0.5s;
}


.footer-print{
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a01f83;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
}
